<!-- forget password -->
<section
  *ngIf="step1"
  class="w-50 mx-auto mt-5 rounded bg-main-light p-3 shadow"
>
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div class="form-item">
      <label for="email" class="text-capitalize">email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div
      class="alert alert-danger my-1 font-sm pb-0 mt-0"
      *ngIf="
        forgetForm.get('email')?.invalid &&
        (forgetForm.get('email')?.dirty || forgetForm.get('email')?.touched)
      "
    >
      <ul>
        <li
          class="text-capitalize fw-bold"
          *ngIf="forgetForm.get('email')?.getError('required')"
        >
          email is required
        </li>
        <li class="fw-bold" *ngIf="forgetForm.get('email')?.getError('email')">
          Ex: basma@gmail.com
        </li>
      </ul>
    </div>
    <button
      type="submit"
      class="main-btn w-100 mt-3 text-capitalize"
      [disabled]="forgetForm.invalid"
    >
      forget password
    </button>
    <div *ngIf="userMsg" class="alert alert-danger my-1 font-sm pb-0 my-0">
      <ul>
        <li class="text-capitalize fw-bold">
          {{ userMsg }}
        </li>
      </ul>
    </div>
  </form>
</section>

<!-- resetCode -->
<section
  *ngIf="step2"
  class="w-50 mx-auto mt-5 rounded bg-main-light p-3 shadow"
>
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetCode" class="text-capitalize">reset Code</label>
    <input type="text" class="form-control" id="resetCode" />

    <button class="main-btn w-100 mt-3 text-capitalize">reset Code</button>
  </form>
</section>

<!-- newPassword -->
<section
  *ngIf="step3"
  class="w-50 mx-auto mt-5 rounded bg-main-light p-3 shadow"
>
  <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
    <label for="newPassword" class="text-capitalize">Reset Password</label>
    <input
      type="password"
      class="form-control"
      id="newPassword"
      formControlName="password"
    />
    <div
      class="alert alert-danger my-1 font-sm pb-1 mt-0"
      *ngIf="
        resetPassword.get('password')?.invalid &&
        resetPassword.get('password')?.touched
      "
    >
      <ul>
        <li
          class="text-capitalize fw-bold"
          *ngIf="resetPassword.get('password')?.getError('required')"
        >
          Password is required
        </li>
        <li
          class="text-capitalize fw-bold"
          *ngIf="resetPassword.get('password')?.getError('pattern')"
        >
          must be at least 6 char
        </li>
      </ul>
    </div>
    <button
      class="main-btn w-100 mt-3 text-capitalize"
      [disabled]="resetPassword.invalid"
    >
      Reset Password
    </button>
  </form>
</section>
