<section class="py-4" *ngIf="products.length > 0">
  <h2 class="text-capitalize text-main">popular products</h2>
  <div class="row">
    <div
      *ngFor="let product of products"
      class="col-sm-6 col-md-4 col-lg-3 col-xl-2 my-2"
    >
      <div class="product h-100">
        <!-- add -->
        <i
          *ngIf="!wishListData.includes($any(product._id))"
          (click)="addWishList(product._id)"
          class="fa-regular fa-heart heart fs-2x"
        ></i>

        <!-- remove -->
        <i
          *ngIf="wishListData.includes($any(product._id))"
          (click)="removeFav(product._id)"
          class="fa-solid fa-heart fa-2x heart text-danger"
        ></i>

        <header [routerLink]="['/productDetails', product._id]" role="button">
          <div class="image overflow-hidden">
            <figure>
              <img
                class="w-100"
                [src]="product.imageCover"
                [alt]="product.title"
                [title]="product.title"
              />
            </figure>
          </div>
          <h3 class="small">{{ product.title | cuttext : 3 }}</h3>
          <h4 class="h6 text-main">{{ product.category.name }}</h4>
          <div
            class="product-footer d-flex align-items-center justify-content-between small"
          >
            <span>{{ product.price | currency : "E£" }}</span>
            <!-- Rating -->
            <span>
              <ng-container *ngFor="let num of [1, 2, 3, 4, 5]">
                <i
                  *ngIf="product.ratingsAverage >= num"
                  [class.rating-color]="true"
                  class="fas fa-star"
                ></i>
              </ng-container>
              <span class="text-muted"> {{ product.ratingsAverage }}</span>
            </span>
          </div>
        </header>
        <footer>
          <button
            #btnAdd
            (click)="addProduct(product._id, btnAdd)"
            class="main-btn text-capitalize w-100 mt-1"
          >
            add to cart
          </button>
        </footer>
      </div>
    </div>
  </div>
</section>
