<section *ngIf="productDetails" class="w-75 mx-auto p-5 mb-4">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-3">
      <owl-carousel-o [options]="productDetailsOptions">
        <ng-container *ngFor="let path of productDetails.images">
          <ng-template carouselSlide>
            <img [src]="path" alt="Product Image" class="w-100" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="col-lg-9">
      <div>
        <h3 class="h5">{{ productDetails.title }}</h3>
        <p class="text-muted">{{ productDetails.description }}</p>
        <span>{{ productDetails.category?.name }}</span>
        <div class="d-flex justify-content-between align-items-center my-3">
          <span class="small">{{
            productDetails.price | currency : "E£"
          }}</span>
          <p class="mb-0">
            <ng-container *ngFor="let num of [1, 2, 3, 4, 5]">
              <i
                *ngIf="productDetails.ratingsAverage >= num"
                [class.rating-color]="true"
                class="fas fa-star"
              ></i>
            </ng-container>
            {{ productDetails.ratingsAverage }}
          </p>
        </div>
        <footer>
          <button
            #btnAdd
            (click)="addProduct(productDetails._id, btnAdd)"
            class="main-btn text-capitalize w-100 mt-1"
          >
            add to cart
          </button>
        </footer>
      </div>
    </div>
  </div>
</section>
